<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>193770343474-amdl40u1al6mh6mtohvrk9rb71q0d0vr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193770343474-amdl40u1al6mh6mtohvrk9rb71q0d0vr</string>
	<key>API_KEY</key>
	<string>AIzaSyDMy3GVLRmgzMWsJXwDqANXWqufjtICxOc</string>
	<key>GCM_SENDER_ID</key>
	<string>193770343474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.steveloker.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-37c60</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-37c60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193770343474:ios:94b8de337a99a5b7</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-37c60.firebaseio.com</string>
</dict>
</plist>